<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sop.firebasech2"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GenerateReportsActivity"></activity>
        <activity
            android:name=".editOccurenceActivity"
            android:label="@string/title_update_symp" />
        <activity android:name=".SeeSymptomActivity" />
        <activity
            android:name=".ListSymptomsActivity"
            android:label="@string/label_list_symptoms" />
        <activity
            android:name=".addOccurenceActivity"
            android:label="@string/label_add_symptom" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/label_user_login" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>